.orders {
  .activeOrderType,
  .notActiveOrderType {
    padding: 0.5em 0.8em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .activeOrderType {
    border-radius: 8px;
    background: color-mix(in sRGB, var(--secColor) 10%, transparent 90%);

    h4 {
      color: var(--secColor);
      font-weight: 700;
    }
  }

  .notActiveOrderType {
    h4 {
      font-weight: 700;
    }
  }

  @media screen and (max-width: 900px) {
    .activeOrderType,
    .notActiveOrderType {
      padding: 0.5em 0.4em;
    }
  }
}
